<!DOCTYPE html>
<head>
<meta charset="UTF-8"
<title>Rochambeau</title>
</head>
<body>
	<h1>Pick your move:</h1>
	<hr><br>
	<a href="/throw/rock">Rock</a>
	<br>
	<a href="/throw/paper">Paper</a>
	<br>
	<a href="/throw/scissors">Scissors</a>
	<br>

</body>